<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  
  <title>Node File Uploads</title>
</head>
<body>
  <div class="container">
    <h1>Send Email</h1>
    <%= typeof msg != 'undefined' ? msg : '' %>
    <form action="/sendmail" method="POST" >
       
        <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" name="email">
              <label for="email">Email</label>
            </div>
          </div>
         
      
      <button type="submit" class="btn">Submit</button>
    </form>
    <br>
     <!-- <p><%= typeof fileArray!= 'undefined' ? fileArray.toString() : '' %> </p> -->
<ul>
    <% if(typeof fileArray!= 'undefined')
    {
        var images = fileArray.toString().split(",");
     for(var i=0; i<images.length; i++) { %>
        <li>
                <img src="<%=images[i] %>" width="142" height="142" class="responsive-img">
        </li>
    <% }} %>
</ul>
    <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img">
    <div class="contents" id="content"></div>

  </div>
 

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>  
</body>
</html>